<section class="h-screen">
  <div class="container mt-20 px-6">
    <div class="flex h-full flex-wrap items-center justify-center lg:justify-between">
      <!-- Left column container with background-->
      <div class="mb-12 md:mb-0 md:w-8/12 lg:w-6/12">
        <img src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="w-full"
          alt="Phone image" />
      </div>

      <!-- Right column container with form -->
      <div class="md:w-8/12 lg:ms-6 lg:w-5/12">
        <form #f="ngForm" (ngSubmit)="register(f)">
          <!-- Username input -->
          <div class="relative mb-6" data-twe-input-wrapper-init>
            <input ngModel name="username" #name="ngModel" type="text"
              class="peer block w-full rounded border border-gray-300 bg-transparent px-3 py-2 text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent dark:text-white dark:bg-neutral-800 dark:placeholder-gray-400"
              id="username" required />
            <label for="username"
              class=" pointer-events-nonemb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[1.15rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:peer-focus:text-primary absolute left-3 top-1 text-sm text-gray-500 peer-placeholder-shown:top-2 peer-placeholder-shown:text-gray-400 dark:text-neutral-400">
              Username
            </label>
            <div class="text-red-600 text-sm mt-1 ml-3" *ngIf="name.invalid && name.touched">
              Name is required
            </div>
          </div>

          <!-- Email input -->
          <div class="relative mb-6" data-twe-input-wrapper-init>
            <input ngModel name="email" #email="ngModel" type="email"
              class="peer block w-full rounded border border-gray-300 bg-transparent px-3 py-2 text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent dark:text-white dark:bg-neutral-800 dark:placeholder-gray-400"
              id="email" required email />
            <label for="email"
              class="pointer-events-nonemb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[1.15rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:peer-focus:text-primary absolute left-3 top-1 text-sm text-gray-500 peer-placeholder-shown:top-2 peer-placeholder-shown:text-gray-400 dark:text-neutral-400">
              Email address
            </label>
            <div class="text-red-600 text-sm mt-1 ml-3" *ngIf="email.touched && email.errors?.['required']">
              Email is required
            </div>
            <div class="text-red-600 text-sm mt-1 ml-3" *ngIf="email.touched && email.errors?.['email']">
              Your input doesn't match email format
            </div>
          </div>

          <!-- Password input -->
          <div class="relative mb-6" data-twe-input-wrapper-init>
            <input ngModel name="password" #password="ngModel" type="password"
              class="peer block w-full rounded border border-gray-300 bg-transparent px-3 py-2 text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent dark:text-white dark:bg-neutral-800 dark:placeholder-gray-400"
              id="password" required minlength="6" />
            <label for="password"
              class="pointer-events-nonemb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[1.15rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:peer-focus:text-primary absolute left-3 top-1 text-sm text-gray-500 peer-placeholder-shown:top-2 peer-placeholder-shown:text-gray-400 dark:text-neutral-400">
              Password
            </label>
            <div class="text-red-600 text-sm mt-1 ml-3" *ngIf="password.touched && password.errors?.['required']">
              Password is required
            </div>
            <div class="text-red-600 text-sm mt-1 ml-3" *ngIf="password.touched && password.errors?.['minlength']">
              Password should be 6+ characters
            </div>
          </div>

          <!-- Confirm Password input -->
          <div class="relative mb-6" data-twe-input-wrapper-init>
            <input ngModel name="passwordConfirm" #passwordConfirm="ngModel" type="password"
              class="peer block w-full rounded border border-gray-300 bg-transparent px-3 py-2 text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent dark:text-white dark:bg-neutral-800 dark:placeholder-gray-400"
              id="passwordConfirm" required />
            <label for="passwordConfirm"
              class="pointer-events-nonemb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[2.15] transition-all duration-200 ease-out peer-focus:-translate-y-[1.15rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[1.15rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:peer-focus:text-primary absolute left-3 top-1 text-sm text-gray-500 peer-placeholder-shown:top-2 peer-placeholder-shown:text-gray-400 dark:text-neutral-400">
              Confirm Password
            </label>
            <div class="text-red-600 text-sm mt-1 ml-3" *ngIf="passwordConfirm.invalid && passwordConfirm.touched">
              Password Confirm is required
            </div>
            <div class="text-red-600 text-sm mt-1 ml-3"
              *ngIf="passwordConfirm.value !== password.value && passwordConfirm.touched">
              Passwords are not equal
            </div>
          </div>

          <!-- Submit button -->
          <button
            class="w-full rounded bg-primary px-4 py-2 text-white hover:bg-primary-600 focus:outline-none disabled:bg-gray-400"
            [disabled]="f.invalid || passwordConfirm.value !== password.value">
            Create Account
          </button>
        </form>

        <div class="text-center mt-4">
          <a routerLink="/login" class="text-primary hover:underline">Have An Account? Login From Here</a>
        </div>

        <div *ngIf="errorMessage" class="text-red-600 text-sm mt-4 ml-3">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
</section>