<form #f="ngForm" (ngSubmit)="checkout(f)" class="mx-auto max-w-screen-xl px-4 2xl:px-0 md:py-16 py-8">
    <div class="mt-6 sm:mt-8 lg:flex lg:items-start lg:gap-12 xl:gap-16">
        <div class="min-w-0 flex-1 space-y-8">
            <div class="space-y-4">
                <h2 class="text-xl font-semibold text-gray-900 dark:text-white">Delivery Details</h2>

                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                    <div>
                        <label for="your_name" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
                            Your name </label>
                        <input type="text" id="your_name" ngModel name="name" #name="ngModel"
                            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                            placeholder="Bonnie Green" required />
                        <div class="text-red-600 text-sm mt-1 ml-3" *ngIf="name.invalid && name.touched">
                            Name is required
                        </div>
                    </div>

                    <div>
                        <label for="your_email" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
                            Your email*
                        </label>
                        <input type="email" id="your_email" ngModel name="email" #email="ngModel"
                            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                            placeholder="name@flowbite.com" required />
                        <div class="text-red-600 text-sm mt-1 ml-3" *ngIf="email.touched && email.errors?.['required']">
                            Email is required
                        </div>
                        <div class="text-red-600 text-sm mt-1 ml-3" *ngIf="email.touched && email.errors?.['email']">
                            Your input doesn't match email format
                        </div>
                    </div>
                    <div>
                        <label for="phone-input-3" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">
                            Phone Number*
                        </label>
                        <div class="flex items-center">
                            <div class="relative w-full">
                                <input type="text" id="phone-input" ngModel name="phone" #phone="ngModel"
                                    class="z-20 block w-full rounded-e-lg border border-s-0 border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:border-s-gray-700  dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500"
                                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="023-456-7890" required />
                                <div class="text-red-600 text-sm mt-1 ml-3"
                                    *ngIf="phone.touched && phone.errors?.['required']">
                                    Phone is required
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="space-y-4">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Payment</h3>
            </div>
        </div>

        <div class="mt-6 w-full space-y-6 sm:mt-8 lg:mt-0 lg:max-w-xs xl:max-w-md">
            <div class="flow-root">
                <div class="-my-3 divide-y divide-gray-200 dark:divide-gray-800">
                    <dl class="flex items-center justify-between gap-4 py-3">
                        <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Subtotal</dt>
                        <dd class="text-base font-medium text-gray-900 dark:text-white">{{ originalPrice |
                            currency:'VND' }}</dd>
                    </dl>

                    <dl class="flex items-center justify-between gap-4 py-3">
                        <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Savings</dt>
                        <dd class="text-base font-medium text-green-500">-{{ savings | currency:'VND' }}</dd>
                    </dl>

                    <dl class="flex items-center justify-between gap-4 py-3">
                        <dt class="text-base font-bold text-gray-900 dark:text-white">Total</dt>
                        <dd class="text-base font-bold text-gray-900 dark:text-white">{{ finalPrice | currency:'VND' }}
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="space-y-3">
                <button type="submit"
                    class="flex w-full items-center justify-center rounded-lg px-5 py-2.5 text-sm font-medium text-white bg-gray-700 hover:bg-black hover:text-white focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Proceed
                    to Payment</button>
            </div>
        </div>

    </div>
</form>