<div class="navbar bg-base-100 px-5">
    <div class="navbar-start items-center w-auto max-w-max ">
        <div class="dropdown">
            <a class="btn btn-ghost text-xl">
                <div class="border bg-secondary logo p-2 rounded-xl text-2xl" routerLink="/">MELIOS</div>
            </a>
        </div>
    </div>

    <div class="navbar-center flex flex-grow">
        <a class="menu-title text-xl" href="/">Home</a>
        <a class="menu-title text-xl" href="/games/">Games</a>
        <div class="dropdown dropdown-hover" data-twe-dropdown-position="dropend">
            <div role="button">
                <p class="menu-title text-xl">Category⮟</p>

            </div>
            <ul
                class="dropdown-content bg-gray-200 border border-gray-400 rounded-box shadow grid grid-rows-4 grid-flow-col gap-x-6 gap-y-4 w-auto max-w-max h-auto max-h-max">
                <li *ngFor="let category of categoryList" class=" link no-underline mx-3 my-1 w-auto min-w-max text-xl text-center" >
                  <a [href]="'/category/' + category.id">{{category.name}}</a>  
                </li>
            </ul>
        </div>
    </div>



    <div class="navbar-end flex items-end">
        <div class="dropdown dropdown-end w-auto">
            <div tabindex="0" role="button">
                <fa-icon [icon]="['fas', 'user']" class="menu-icon"></fa-icon>
            </div>
            <ul class="dropdown-content menu menu-lg bg-base-100 rounded-box shadow">
                <!-- Nếu chưa đăng nhập -->
                <ng-container *ngIf="!currentUser; else loggedInTemplate">
                    <li class="link" routerLink="login">Login</li>
                    <li class="link" routerLink="register">Register</li>
                </ng-container>

                <!-- Nếu đã đăng nhập -->
                <ng-template #loggedInTemplate>
                    <li class="link">
                        Welcome, {{ currentUser.username }}
                    </li>
                    <a class="underline" href="login" (click)="logout()">Logout</a>
                </ng-template>
            </ul>
        </div>
        <div class=" navbar-end dropdown-end me-2 w-auto" routerLink="cart">
            <div tabindex="0" role="button">
                <fa-icon [icon]="['fas', 'cart-shopping']" class="menu-icon"></fa-icon>
            </div>
        </div>
    </div>
</div>