<!-- <div class="navbar bg-base-100 px-5">
    <div class="navbar-start items-center w-auto max-w-max ">
        <div class="dropdown">
            <a class="btn btn-ghost text-xl">
                <div class="border bg-secondary logo p-2 rounded-xl text-2xl" routerLink="/">MELIOS</div>
            </a>
        </div>
    </div>

    <div class="navbar-center flex flex-grow">
        <a class="menu-title text-xl" href="/">Home</a>
        <a class="menu-title text-xl" href="/games/">Games</a>
        <div class="dropdown dropdown-hover" data-twe-dropdown-position="dropend">
            <div role="button">
                <p class="menu-title text-xl">Category⮟</p>

            </div>
            <ul
                class="dropdown-content bg-gray-200 border border-gray-400 rounded-box shadow grid grid-rows-4 grid-flow-col gap-x-6 gap-y-4 w-auto max-w-max h-auto max-h-max">
                <li *ngFor="let category of categoryList" class=" link no-underline mx-3 my-1 w-auto min-w-max text-xl text-center" >
                  <a [href]="'/category/' + category.id">{{category.name}}</a>  
                </li>
            </ul>
        </div>
    </div>



    <div class="navbar-end flex items-end">
        <div class="dropdown dropdown-end w-auto">
            <div tabindex="0" role="button">
                <fa-icon [icon]="['fas', 'user']" class="menu-icon"></fa-icon>
            </div>
            <ul class="dropdown-content menu menu-lg bg-base-100 rounded-box shadow">

                <ng-container *ngIf="!currentUser; else loggedInTemplate">
                    <li class="link" routerLink="login">Login</li>
                    <li class="link" routerLink="register">Register</li>
                </ng-container>


                <ng-template #loggedInTemplate>
                    <li class="link">
                        Welcome, {{ currentUser.username }}
                    </li>
                    <a class="underline" href="login" (click)="logout()">Logout</a>
                </ng-template>
            </ul>
        </div>
        <div class=" navbar-end dropdown-end me-2 w-auto" routerLink="cart">
            <div tabindex="0" role="button">
                <fa-icon [icon]="['fas', 'cart-shopping']" class="menu-icon"></fa-icon>
            </div>
        </div>
    </div>
</div> -->
<!-- Main navigation container -->
<nav
    class="flex-no-wrap relative flex w-full items-center justify-between bg-zinc-50 py-2 shadow-dark-mild dark:bg-neutral-700 lg:flex-wrap lg:justify-start lg:py-4">
    <div class="flex w-full flex-wrap items-center justify-between px-3">
        <!-- Hamburger button for mobile view -->
        <button
            class="block border-0 bg-transparent px-2 text-black/50 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden"
            type="button" data-twe-collapse-init data-twe-target="#navbarSupportedContent1"
            aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
            <!-- Hamburger icon -->
            <span class="[&>svg]:w-7 [&>svg]:stroke-black/50 dark:[&>svg]:stroke-neutral-200">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
                        clip-rule="evenodd" />
                </svg>
            </span>
        </button>

        <!-- Collapsible navigation container -->
        <div class="!visible hidden flex-grow basis-[100%] items-center lg:!flex lg:basis-auto"
            id="navbarSupportedContent1" data-twe-collapse-item>
            <!-- Logo -->
            <a class="mb-4 me-5 ms-2 mt-3 flex items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 lg:mb-0 lg:mt-0"
                href="#">
                <img src="https://i.ibb.co/D8cJ0fZ/melios-high-resolution-logo.png"  width="60" height="auto"
                    alt="TE Logo" loading="lazy" />
            </a>
            <!-- Left navigation links -->
            <ul class="list-style-none me-auto flex flex-col ps-0 lg:flex-row" data-twe-navbar-nav-ref>
                <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
                    <!-- Dashboard link -->
                    <a class="text-black/60 transition duration-200 hover:text-black/80 hover:ease-in-out focus:text-black/80 active:text-black/80 motion-reduce:transition-none dark:text-white/60 dark:hover:text-white/80 dark:focus:text-white/80 dark:active:text-white/80 lg:px-2"
                        href="#" data-twe-nav-link-ref>Home</a>
                </li>
                <!-- Team link -->
                <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
                    <a class="text-black/60 transition duration-200 hover:text-black/80 hover:ease-in-out focus:text-black/80 active:text-black/80 motion-reduce:transition-none dark:text-white/60 dark:hover:text-white/80 dark:focus:text-white/80 dark:active:text-white/80 lg:px-2"
                        routerLink="games" data-twe-nav-link-ref>All games</a>
                </li>
                <!-- Projects link -->
                <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
                    <div class="dropdown dropdown-hover text-black/60 transition duration-200 hover:text-black/80 hover:ease-in-out focus:text-black/80 active:text-black/80 motion-reduce:transition-none dark:text-white/60 dark:hover:text-white/80 dark:focus:text-white/80 dark:active:text-white/80 lg:px-2"
                        data-twe-dropdown-position="dropend">
                        <p class="" role="button">Category⮟</p>
                        <ul
                            class="dropdown-content absolute float-left m-0 min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg data-[twe-dropdown-show]:block dark:bg-surface-dark grid grid-rows-4 grid-flow-col gap-x-6 gap-y-4 w-auto max-w-max h-auto max-h-max z-50">
                            <li *ngFor="let category of categoryList"
                                class="block whitespace-nowrap bg-white px-4 py-2 font-normal text-neutral-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25 link no-underline mx-3 my-1 w-auto min-w-max text-xl text-center">
                                <a [href]="'/category/' + category.id">{{category.name}}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!-- Left links -->
        </div>

        <!-- Right elements -->
        <div class="relative flex items-center">
            <!-- Icon -->
            <a class="me-4 text-neutral-600 dark:text-white" routerLink="cart">
                <span class="[&>svg]:w-7">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path
                            d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" />
                    </svg>
                </span>
            </a>

            <div class="relative" data-twe-dropdown-ref data-twe-dropdown-alignment="end">
                <!-- Second dropdown trigger -->
                <div class="flex items-center whitespace-nowrap transition duration-150 ease-in-out motion-reduce:transition-none"
                    role="button" data-twe-dropdown-toggle-ref id="dropdownMenuButton2" aria-expanded="false">
                    <!-- User avatar -->
                    <img src="https://tecdn.b-cdn.net/img/new/avatars/2.jpg" class="rounded-full"
                        style="height: 45px; width: 45px" alt="" loading="lazy"/>
                </div>
                <ul class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg data-[twe-dropdown-show]:block dark:bg-surface-dark"
                    aria-labelledby="dropdownMenuButton2" data-twe-dropdown-menu-ref>

                    <ng-container *ngIf="!currentUser; else loggedInTemplate">
                        <li class=" link block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                            href="#" data-twe-dropdown-item-ref routerLink="login">Login</li>
                        <li class="link block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                            href="#" data-twe-dropdown-item-ref routerLink="register">Register</li>
                    </ng-container>


                    <ng-template #loggedInTemplate>
                        <li class="link block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                            href="#" data-twe-dropdown-item-ref>
                            Welcome, {{ currentUser.username }}
                        </li>
                        <a class="block w-full whitespace-nowrap bg-white px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-zinc-200/60 focus:bg-zinc-200/60 focus:outline-none active:bg-zinc-200/60 active:no-underline dark:bg-surface-dark dark:text-white dark:hover:bg-neutral-800/25 dark:focus:bg-neutral-800/25 dark:active:bg-neutral-800/25"
                            data-twe-dropdown-item-ref href="login" (click)="logout()">Logout</a>
                    </ng-template>
                </ul>
            </div>
        </div>
        <!-- Right elements -->
    </div>
</nav>